useDynLib(bfrm)
## IMPORT METHODS FROM STATS
importFrom(stats, predict)
import(methods, survival)
exportPattern("^[[:alpha:]]+")
import( Rcpp )

## EXPORT MAIN bfrm FUNCTION
#exportMethods(
#  bfrm
#)


## EXPORT CLASSES
#exportClasses(
#  bfrmModel,
#  bfrmLinearModel,
#  bfrmBinaryModel,
#  bfrmSurvivalModel,
#  bfrmCategoricalModel,
#  bfrmResult,
#  bfrmLinearResult,
#  bfrmBinaryResult,
#  bfrmSurvivalResult,
#  bfrmCategoricalResult
#)
